body {
  margin: 0;
  padding: 0;
}

.title {
  font-size: xx-large;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
}

.button-copy-container {
  margin-top: 10px;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
  font-size: small;
}

.panel-container {
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  width: 100%;
  margin: 0 auto;
  resize: vertical;
  min-height: 400px;
  color: black;
}

.panel-container > div > * {
  margin-top: 0;
}

hr {
  border-top: 1px solid #eee;
  margin-bottom: 20px;
}

.range-container {
  text-align: center;
  margin: 0 auto;
}

.range-container > label {
  display: block;
}

.range-container > input {
  width: 200px;
}

@media screen and (max-width: 400px) {
    .range-container > input {
      width: 180px;
    }
}